body{
    background-color: black;
}

#employeeTable{
    border-collapse: collapse;
    margin-left: 1rem;
}

#searchBar{
    margin-left: 1rem;
}

#filterButton{
    margin-left: 33rem;
}

td{
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
}

th{
    border: 1px solid black;
    padding: 0.5rem;
    text-align: center;
}

#departmentTable, #locationTable {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding: 5px;
  }

  #logo{
      width: 250px;
      height: 200px;
      border: solid black 1px;
  }

  #addButton, #filterButton{
    background-image: linear-gradient(135deg, rgb(1, 100, 139), rgb(91, 208, 164) 75%);
  }

  #filters, #add{
    background-image: linear-gradient(135deg, rgb(1, 100, 139), rgb(91, 208, 164) 75%);
    color: white;
  }

  .btn{
    background-image: linear-gradient(135deg, rgb(1, 100, 139), rgb(91, 208, 164) 75%);
    color: white;
  }

  .filter-table{
      color: white;
  }

  .bi-trash-fill{
    color: red;
  }

  .bi-pencil-square{
    color:rgb(1, 100, 139);
  }